html,
body {
    display: flex;
    max-height: 100vh;
    margin: 0;
    font-family: ProductSans, sans-serif;
    flex-direction: column;
    overflow: hidden;
}

@font-face {
    font-family: ProductSans;
    src: url(./font/Product\ Sans\ Regular.ttf);
}

.header {
    border-bottom: 1px solid lightgrey;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.navigation {
    max-height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
}

.navigation__item--left,
.navigation__item--center {
    list-style-type: none;
}

.navigation__item--left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation__item--left--hamburger img {
    margin-right: 40px;
    height: 24px;
}

.navigation__item--left--name {
    color: grey;
    justify-items: center;
    margin-right: 40px;
}

.navigation__item--center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation__item--center--today {
    margin-right: 40px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    padding: 8px 20px;
    text-decoration: none;
    font: inherit;
    cursor: pointer;
}

.navigation__item--arrow--left,
.navigation__item--arrow--right {
    margin-right: 10px;
}

.navigation__item--arrow--left:hover,
.navigation__item--arrow--right:hover {
    border-radius: 50%;
    background-color: rgb(241, 241, 241);
}

.navigation__item--center--month {
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
    white-space: nowrap;
}

.navigation__item--right--layout {
    margin-left: auto;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    padding: 8px 20px;
    text-decoration: none;
    font: inherit;
    cursor: pointer;
}

.navigation__item--center--today:hover,
.navigation__item--right--layout:hover,
.button--create:hover {
    background-color: rgb(241, 241, 241);
}

.main {
    width: auto;
    min-width: 965px;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.sidebar {
    margin-left: -15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button--create {
    margin: 20px 20px 0px 20px;
    box-shadow: 0px 1px 2px 0px #b8b7b7;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
    padding: 12px 24px;
    font: inherit;
    cursor: pointer;
}

.main li {
    list-style-type: none;
}

.calendar {
    margin-left: 15px;
    height: 228px;
    width: 215px;
    padding: 15px;
}

.calendar__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calendar__date {
    white-space: nowrap;
    font-size: 14px;
    padding-left: 11px;
    align-self: center;
}

.calendar__arrows {
    display: flex;
    margin-bottom: 12px;
    padding-right: 3px;
}

.calendar__arrow--left,
.calendar__arrow--right {
    border-radius: 50%;
}

.calendar__arrow--left:hover,
.calendar__arrow--right:hover {
    background-color: rgb(241, 241, 241);
}

.calendar__weekdays {
    font-size: 10px;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding-left: 0;
    color: grey;
    justify-items: center;
}

.calendar__monthdays {
    font-size: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    padding-left: 0;
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    justify-items: center;
}

.grid {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.grid__header {
    display: flex;
    flex-direction: column;
}

.grid__header__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    color: grey;
    justify-items: center;
    font-size: 12px;
    margin-bottom: 0;
    padding-left: 50px;
    padding-right: 14px;
}

.grid__header__monthdays li {
    width: 100%;
    text-align: center;
    border-width: 0px 1px 1px 1px;
    border-image: linear-gradient(white 60%, lightgrey 40%) 1;
    border-style: solid;
    border-right: none;
    padding: 10px 0px 10px 0px;
}

.grid__header__monthdays {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(7, 1fr);
    color: grey;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0px;
    padding-left: 50px;
    padding-right: 14px;
}

.grid__events {
    display: flex;
    overflow: auto;
    overflow-x: hidden;
}

.events__main {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(24, 50px);
    margin-left: -15px;
}

.grid__events__sidebar {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 15px;
}

.sidebar__gmt {
    position: absolute;
    width: 55px;
    top: 118px;
    left: 240px;
    font-size: 12px;
    color: grey;
    background-color: white;
    border: 1px solid lightgrey;
    border-width: 0px 0px 1px 0px;
    border-image: linear-gradient(to right, transparent 20%, lightgrey) 1;
}

.sidebar__time {
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: repeat(23, 50px);
    flex-direction: column;
    margin-top: 25px;
    max-width: 50px;
    font-size: 12px;
    color: grey;
    padding: 0;
    align-items: center;
}

.events__item {
    border: 1px solid lightgrey;
    border-bottom: none;
    border-right: none;
}

.event__element {
    color: white;
    font-size: 10px;
    border-radius: 3px;
    border: 0.5px solid white;
}

.events__item:nth-child(-n+7) {
    border-top: none;
}

.sidebar__time li {
    border: solid lightgrey;
    border-width: 0px 10px 0px 0px;
    border-image: linear-gradient(to bottom, white 48%, lightgrey, white 52%) 1;
}

.event-creation-modal {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: white;
    width: 540px;
    height: 515px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px -2px rgba(0, 0, 0, 0.6);
}

.event-creation-modal__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(243, 243, 243);
    height: 40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.event-creation-modal__header--exit,
.event-modal-info__header--exit {
    padding-right: 10px;
    width: 20px;
    height: 20px;
}

.event-creation-modal__form,
.event-modal-info__main {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 40px;
}

.event-creation-modal__form--titlebox {
    outline: none;
    border: none;
    border-bottom: 2px solid lightgrey;
    font-size: 24px;
    margin-top: 40px;
}

.event-creation-modal__form--titlebox:focus {
    border-color: #1A73E9;
    transition: 0.4s;
}

.event-creation-modal__form--datetime {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}

.event-creation-modal__form--datetime label {
    margin-top: 10px;
}

.datetime--start,
.datetime--end,
textarea::placeholder {
    font-family: ProductSans, sans-serif;
}

.event-creation-modal__form--description {
    margin-top: 40px;
}

.event-creation-modal__form--description textarea {
    font-family: ProductSans, sans-serif;
    resize: none;
}

.event-creation-modal__footer {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-bottom: 5px;
}

.event-creation-modal__footer--delete,
.event-creation-modal__footer--save {
    background-color: #1A73E9;
    border-radius: 6px;
    border: 1px solid #337fed;
    padding: 10px 24px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}

.event-creation-modal__footer--delete:active,
.event-creation-modal__footer--save:active {
    background-color: #1a64c5;
}

.event-modal-info {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: white;
    width: 540px;
    height: 515px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px -2px rgba(0, 0, 0, 0.6);
}

.event-modal-info__main {
    width: 80%;
}

.event-modal-info__title {
    outline: none;
    border: none;
    border-bottom: 2px solid lightgrey;
    font-size: 24px;
    margin-top: 40px;
}

.event-modal-info__datetime {
    border-bottom: 1px solid lightgrey;
    margin-top: 80px;
}

.event-modal-info__description {
    border: 1px solid lightgrey;
    height: 60px;
    margin-top: 100px;
    padding-left: 5px;
}

.event-modal-info__footer {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-bottom: 5px;
}